body {
    background-color: #5D8AA8;
    color: #3c415e;
    font-family: Recursive;
  }
  
  h1 {
    font-size: 40px;
    color: #2b2b2b;
    font-family: Poppins;
  }
  
  a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(107,114,225);
  }
  
  a:hover {
    opacity: 0.5;
  }
  
  h2 {
    color: #000000;
    font-family: Poppins;
  }
  
  .card-white {
    background: #e0e0e0;
    width: 500px;
    padding: 40px;
    margin: 20px auto;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.1);
    border-radius: 4px;
    text-align: center;
  }
    #btn-blue {
    background-color: #3c415e;
    color: aliceblue;
    padding: 15 px 20px;
   border-radius: 4px;
   margin-top: 10px;
   display: inline-block;
  }
    #list-inline li {
      display: inline;
      padding: 10px;
    }
    .list-inline {
      list-style: none;
      padding-right: 0px;
    }
    #img-Lena{
   border-radius: 50%;
    }
    .list-inline i {
   padding: 0px;

    }
    @media (max-width: 960px) {
      /* For a screen < 960px, this CSS will be read */
      .container {
        width: 700px;
      }
    }
    @media (max-width: 720px) {
      /* For a screen < 720px, this CSS will be read */
      .container {
        width: 500px;
      }
    }
    @media (max-width: 540px) {
      /* For a screen < 540px, this CSS will be read */
      .container {
        width: 300px;
      }
    }